body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    background-image: url('https://source.unsplash.com/1600x900/?lion');
    font-size: 10px;
}

.card{
    background-color: #000000d0;
    color: #fff;
    padding: 0.5em 2.5em;
    border-radius: 30px;
    width: 100%;
    max-width: 240px;
    margin: 2em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 2.4em;
    height: 2.4em;
    background-color: #7c7c7c2b;
    color: #fff;
}

button:hover{
    background-color: #7c7c7c6b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar{
    border: none;
    outline: none;
    padding: 0.6em 1em;
    border-radius: 16px;
    background-color: #7c7c7c2b;
    color: #fff;
    font-family: inherit;
    width: calc(100% - 100px);
}

h1.temp{
    margin: 0;
}

.desc{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

p.iftar{
    color: gold;
}

footer p{
    font-weight: bolder;
}
/* 
.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after{
    visibility: visible;
    content: "Loading...";
    color: #fff;
    position: absolute;
    top: 0;
} */